mixin get_card(mood, title, description, id_option, id_result )
    .l-options__cards__select(
    class='js-option-card',
    data-option=id_option,
    data-result=id_result)
        
        p(class='h-font-serif')=mood
        p=title
        p(class='h-font-serif')=description


.l-options(id='js-options')

    .l-options__loader(
    id='js-options__loader')

    main.l-options__hud(
    id='js-options__hud')

        header.l-options__header
            h1
                .h-font-serif what kind
                .h-font-monospace OF EXPLORER
                .h-font-serif are you

            p.l-options__desc(
            class='h-font-serif')
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                | quis nostrud exercitation 
                | <a href='#' target='_blank' title=''>ullamco laboris nisi ut </a>
                | aliquip ex ea commodo
                | <a href='#' target='_blank' title=''>consequat.</a>

        .l-options__cards

            ul.l-options__cards__slides

                each item in options
                    
                    li.l-options__cards__slide(
                    id=item.id,
                    class='js-options-slide')
                        each card in item.cards
                            +get_card(
                            card.mood, 
                            card.title, 
                            card.description, 
                            card.id_option, 
                            card.id_result)

            span.clearfix